$primary-color: #FFEFE7; //expresión de color
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quaternary-color: #FA9500;
$primary-text-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif; //expresión de string
$paragraph-size: 1.5em; //expresión de número
$padding-section: 8px;
$border-radius: 16px;
$text-center: center;

@mixin flexCenter ($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
        cursor: pointer;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $font-stack;

    nav {
        color: $primary-text-color;
        @include flexCenter(row, space-between, center);
        padding: $padding-section;
        transition: transform 0.5s ease-in-out;

        p {
            font-size: $paragraph-size;
            cursor: pointer;
        }

        @include buttonStyle;

        :hover {
            transform: scale(1.1);
        }
    }

    main {
        padding: $padding-section;

        article {

            @media screen and (min-width: 768px) {
                @include flexCenter (row, space-evenly, center);
            }

            .image-section {
                @include flexCenter (column, center, center);

                img {
                    border-radius: $border-radius;
                }
            }

            .impact-section {
                @include flexCenter (column, center, center);
                color: $primary-text-color;
                transition: transform 0.5s ease-in-out;

                p {
                    text-align: $text-center;
                }

                button {
                    background-color: $quaternary-color;
                    color: white;
                    border: none;
                    border-radius: 30px;
                    padding: 12px;
                    width: 28vw;
                    cursor: pointer;

                    :hover {
                        transform: scale(1.1);
                    }

                    @media screen and (max-width: 280px) {
                        width: 40vw;
                    }
                }
            }
        }

        section {

            .healtcare {

                h2 {
                    color: $primary-text-color;
                    font-weight: 300;
                }

                .card-section {
                    @include flexCenter (row, space-between, center);
                    gap: 24px;
                    overflow: scroll;
                    color: $primary-text-color;

                    .product-card {
                        background-color: $secondary-color;
                        padding: 16px;
                        border-radius: $border-radius;
                        height: 350px;
                        transition: transform 0.5s ease-in-out;

                        .icon {
                            display: flex;
                            justify-content: flex-end;
                            padding-bottom: $padding-section;

                            :hover {
                                transform: scale(1.1);
                            }
                        }

                        img {
                            border-radius: $border-radius;
                        }
                    }
                }
            }

            .furniture {
                @extend .healtcare;

                .card-section {

                    .product-card {
                        background-color: $tertiary-color;
                        color: white;
                    }
                }
            }
        }

        .info-section {

            h2 {
                color: $primary-text-color;
            }

            .mission-section {
                color: $primary-text-color;
                @include flexCenter (row, space-between, center);

                img {
                    width: 100px;

                    @media screen and (min-width: 768px) {
                        width: 150px;
                    }
                }

                .earth {
                    @include flexCenter (column, center, center);
                    color: $quaternary-color;

                    p {
                        text-align: $text-center;

                        @media screen and (min-width: 768px) {
                            width: 45vw;
                        }
                    }
                }

                .innovation {
                    @extend .earth;
                }
            }

            .gallery-images {
                @include flexCenter (row, space-between, center);
                gap: 16px;
                overflow: scroll;
                transition: transform 0.5s ease-in-out;

                @media screen and (min-width: 1280px) {
                    @include flexCenter (row, space-evenly, center);
                }

                img:hover {
                    transform: scale(1.1);
                }
            }

            .location {

                .map {
                    img {
                        width: 100%;
                        height: auto;
                    }

                    h3,
                    p {
                        color: $quaternary-color;
                    }
                }
            }

        }

        footer {
            background-color: $quaternary-color;
            color: white;
            padding: $padding-section;

            .social-media {
                @include flexCenter (row, center, center);
                gap: 16px;
                padding-bottom: 16px;

                img {
                    width: 32px;
                }
            }
        }
    }
}